.container {
  position: relative;
  width: 600px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 2px 2px 2px gray;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  margin-block-start: 0;
}

.remove {
  cursor: pointer;
  padding: 4px;
}

.numbers {
  display:grid;
  grid-template-columns: 200px 200px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.content {
  display: flex;
}

.footer {
  margin-top: 20px;
}
