.container {
  position: relative;
  width: 80%;
  border: 2px solid black;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 2px 2px 2px gray;
}

.title {
  display: inline;
}

.remove-button {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  top: 16px;
  right: 16px;
}
