<app-card [symbol]="symbol" [companyName]="companyName" [data]="!!quoteData">
  <span header class="remove" (click)="onRemove()">X</span>
  <ng-container content *ngIf="quoteData">
    <div class="numbers">
      <div>Current price: {{quoteData.currentPrice}}</div>
      <div>Change today: {{quoteData.percentChange / 100 | percent: '1.0-2'}}</div>
      <div>Opening price: {{quoteData.openingPriceOfTheDay | number: '1.0-2'}}</div>
      <div>High price: {{quoteData.highPriceOfTheDay | number: '1.0-2'}}</div>
    </div>
    <app-arrow [value]="quoteData.percentChange"></app-arrow>
  </ng-container>
  <button footer (click)="goToSentiment()">Go to social sentiment details ></button>
</app-card>
