.arrow {
  font-size: 32px;
  width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.up::after {
  color: green;
  content: '\1F845';
}

.down::after {
  color: red;
  content: '\1F847';
}
